@use '../mixins';

.container {
  margin-inline: auto;
  padding-inline: var(--space-4);
  width: min(100%, 96rem);

  @include mixins.breakpoint(md) {
    padding-inline: var(--space-6);
  }

  @include mixins.breakpoint(xl) {
    padding-inline: var(--space-12);
  }
}
