@use 'global/reset';

@use 'global/global';
@use 'global/root';
@use 'global/typograpy';

@use 'layout/container';
@use 'layout/grid';
@use 'layout/space';

@use 'components/buttons';
@use 'components/hero';
@use 'components/location';
@use 'components/timetable';

.sponsors {
  text-align: center;
 
  .row {
    display: flex;
    gap: var(--space-6);
    justify-content: center;
  }

  .sponsor {
    aspect-ratio: 16 / 9;
    border: 1px solid var(--color-red-400);
    max-width: 320px;
    width: 100%;
  }
}