.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
  justify-content: center;
}

.button-group-center {
  justify-content: center;
}

.button {
  align-items: center; 
  border-radius: var(--space-1);
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-flex;
  font-size: var(--font-size-md);
  font-weight: 700;
  min-height: var(--space-12);
  padding-inline: var(--space-6);
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.button-primary {
  background-color: var(--color-red-400);
  color: var(--color-neutral-400);
}

.button-secondary {
  border: 1px solid var(--color-red-400);
  color: var(--color-red-400);
}

.down-arrow {
  aspect-ratio: 1;
  border: solid var(--color-red-400);
  border-width: 0 1.5rem 1.5rem 0;
  display: inline-block;
  rotate: 0deg;
  animation: MoveUpDown 2s ease-in-out infinite;
  rotate: 45deg;
  width: 72px;
}


@keyframes MoveUpDown {
  0%, 100% {
    translate: 0 0;
  }
  50% {
    translate: 0 0.4em;
  }
}