@use '../mixins';

.header {
  align-items: center;
  display: flex;
  height: var(--space-24);
  padding-inline: var(--space-4);
  position: absolute;
  width: 100%;
  z-index: 1;

  .logo {    
    img {
      height: var(--space-12);
    }
  }

  .hamburger {
    margin-inline-start: auto;

    @include mixins.breakpoint(lg) {
      display: none;
    }

    &::before {
      content: 'Menu';
    }

    &.open::before {
      content: 'Close';
    }
  }

  .menu {
    align-items: flex-start;
    background-color: var(--color-neutral-400);
    border: 1px solid var(--color-red-500);
    bottom: var(--space-3);
    display: flex;
    flex-direction: column;
    left: var(--space-4);
    opacity: 0;
    padding: var(--space-4);
    position: absolute;
    transform-origin: top;
    transform: scaleY(0);
    transition-duration: 250ms;
    transition-property: opacity, visibility, transform;
    translate: 0 100%;
    visibility: hidden;
    width: calc(100% - var(--space-8));

    @include mixins.breakpoint(lg) {
      align-items: center;
      background-color: transparent;
      border: none;
      bottom: auto;
      flex-direction: row;
      gap: var(--space-6);
      left: auto;
      margin-inline-start: auto;
      opacity: 1;
      padding: 0;
      position: static;
      transform: scaleY(1);
      translate: none;
      visibility: visible;
      width: auto;
    }

    &.open {
      opacity: 1;
      transform: scaleY(1);
      visibility: visible;
    }

    a:not(.button) {
      align-items: center;
      color: inherit;
      display: flex;
      font-weight: 700;
      min-height: var(--space-12);
      text-decoration: none;
      width: 100%;
      
      @include mixins.breakpoint(lg) {
        color: var(--color-neutral-400);
        width: auto;
      }
    }

    a:last-child {
      margin-block-start: var(--space-3);

      @include mixins.breakpoint(lg) {
        margin-block-start: 0;
      }
    }
  }

  .overlay {
    background-color: var(--color-yellow-500);
    inset: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition-duration: 250ms;
    transition-property: opacity, visibility;
    visibility: hidden;
    z-index: -1;

    @include mixins.breakpoint(lg) {
      visibility: hidden;
      display: none;
    }

    &.open {
      visibility: visible;
      opacity: 0.75;
      pointer-events: all;
    }
  }
}