.track-schedule {

    &::before, &::after {
        background-image: url('/images/stripes.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        content: '';
        display: block;
        height: var(--space-6);
        position: relative;
        margin: var(--space-12) 0;
      }
}
