@use '../mixins';

.location {
  position: relative;
  
  @include mixins.breakpoint(sm) {
    display: grid;
    grid-template-areas: 
    "a b"
    "a c";
  }

  &::before {
    aspect-ratio: 16 / 9;
    background-color: var(--color-neutral-500);
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    translate: 0 -100%;
    width: 50%;
    z-index: -1;
  }

  > .ferris {
    display: none;
    
    @include mixins.breakpoint(sm) {
      align-items: center;
      aspect-ratio: 16 / 9;
      display: flex;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
      translate: 0 -100%;
      width: 50%;
      z-index: -2;
    }
    
    img {
      @include mixins.breakpoint(sm) {
        rotate: -30deg;
        width: 144px;
      }

      @include mixins.breakpoint(xl) {
        width: 288px;
      }
    }
  }

  .image {
    background-color: var(--color-neutral-500);
    position: relative;
  }
  
  .image:nth-of-type(1) {
    aspect-ratio: 16 / 18;
    
    @include mixins.breakpoint(sm) {
      aspect-ratio: auto;
      grid-area: a;
    }
    
    &::after {
      aspect-ratio: 16 / 9;
      background-color: var(--color-red-400);
      clip-path: polygon(0 0, 100% 0, 0 100%);
      content: '';
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;  
    }
  }
  
  .image:nth-of-type(2) {
    aspect-ratio: 16 / 9;

    @include mixins.breakpoint(sm) {
      grid-area: b;
    }

    &::after {
      aspect-ratio: 16 / 9;
      background-color: var(--color-blue-400);
      clip-path: polygon(0 0, 100% 0, 0 100%);
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;  
    }
  }

  .image:nth-of-type(3) {
    display: none;

    @include mixins.breakpoint(sm) {
      aspect-ratio: 16 / 9;
      background-color: var(--color-yellow-400);
      grid-area: c;
      display: flex;
      align-items: center;
      justify-content: center;  
    }

    &::after {
      @include mixins.breakpoint(sm) {
        background-color: var(--color-yellow-500);
        content: '';
        inset: 0 50% 0 0;
        position: absolute;
      }
    }

    &:has(:hover) .ferris {
      @include mixins.breakpoint(sm) {
        translate: -24px;
      }
    }

    &:has(:hover) .ferris-arms {
      @include mixins.breakpoint(sm) {
        opacity: 0;
        translate: 32px;
      }
    }

    > .ferris,
    > .ferris-arms {
      @include mixins.breakpoint(sm) {
        background-repeat: no-repeat;
        background-size: contain;
        height: 120px;
        position: absolute;
        rotate: 90deg;
        width: 144px;
      }

      @include mixins.breakpoint(xl) {
        height: 240px;
        width: 288px;
      }
    } 

    > .ferris {
      @include mixins.breakpoint(sm) {
        background-image: url('./images/ferris.png');
        transition-duration: 750ms;
        transition-property: translate;
        transition-timing-function: ease-out;
      }
    }

    > .ferris-arms {
      @include mixins.breakpoint(sm) {
        background-image: url('./images/ferris-arms.png');
        background-position: center -12px;
        transition-delay: 250ms;
        transition-duration: 500ms;
        transition-property: opacity, translate;
        transition-timing-function: ease-in-out;
        z-index: 1;
      }
    }
  }
}