.menu {
  align-items: center;
  display: flex;
  height: var(--space-24);
  padding-inline: var(--space-6);
  position: absolute;
  z-index: 1;
  justify-content: flex-end;
  width: 100%;
  gap: var(--space-6);

  a {
    color: var(--color-neutral-400);
    font-weight: 700;
    text-decoration: none;
  }

  .button {
    border-color: var(--color-neutral-400);
  }

  .logo {
    margin-inline-end: auto;
    
    img {
      width: auto;
      height: 48px;
    }
  }
}