.speakers .speaker {
  margin-top: 0 !important;
  padding-top: 0 !important;
  border: none !important;
}

.speaker,
.speakers {
  align-items: center;
  background-color: var(--color-yellow-400);
  border: 1px solid var(--color-yellow-500);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-6);
  text-align: center;
  z-index: 0;

  >*+* {
    margin-block-start: var(--space-6);
  }

  img {
    align-self: center;
    border-radius: 100%;
    height: auto;
    max-width: 192px;
    vertical-align: middle;
    width: 100%;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  .speaker-detail {
    text-align: left;
  }
}