.sponsors {
  text-align: center;

  &::before {
    background-image: url('/images/stripes.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: '';
    display: block;
    height: var(--space-6);
    position: relative;
    margin: var(--space-12) 0;
  }

  .sponsors-tiers {
    padding-block: var(--space-12);

    &:not(:last-child) {
      border-block-end: 1px solid var(--color-neutral-500);      
    }
  }
 
  .sponsors-row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-6);
    justify-content: center;
  }

  .sponsor {
    aspect-ratio: 16 / 9;
    border-radius: var(--space-1);
    border: 1px solid var(--color-red-400);
    max-width: 20rem;
    width: 100%;
    background-image: var(--image);
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center center;

    &.headline {
      max-width: 40rem;
    }

    &.gold {
      max-width: 30rem;
    }

    &.nl-sponsor {
      max-width: 15rem;
    }

    &.nl-supporter {
      max-width: 10rem;
    }
  }
}
