@use '../mixins';

.youtube {
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::before,
  &::after {
    background-image: url('/images/stripes.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: calc(100% + 2px) auto;
    content: '';
    display: block;
    height: var(--space-6);
    left: 0;
    width: 100%;
  }

  &::after {
    rotate: -180deg;
  }
}

