@use 'sass:map';
@use '../mixins';
@use '../maps';

.container {
  margin-inline: auto;
  padding-inline: var(--space-12);
  width: min(100%, 90rem);
}

.grid {
  display: grid;
  gap: var(--space-6);
}

.grid.gap-0 {
  gap: 0;
}

@for $i from 1 through 24 {
  .space-y-#{$i} > * + * {
    margin-block-start: var(--space-#{$i});
  }
}

@for $i from 1 through 24 {
  .p-#{$i} {
    padding: var(--space-#{$i});
  }

  .px-#{$i} {
    padding-inline: var(--space-#{$i});
  }
}

@for $i from 1 through 12 {
  .cols-#{$i} {
    grid-template-columns: repeat($i, 1fr);
  }

  .col-#{$i} {
    grid-column: span $i;
  }
}

@for $i from 1 through 13 {
  .col-start-#{$i} {
    grid-column-start: $i;
  }

  .col-end-#{$i} {
    grid-column-end: $i;
  }
}

@each $breakpoint in map.keys(maps.$breakpoints) {
  @include mixins.breakpoint($breakpoint) {
    .#{$breakpoint}\:grid {
      display: grid;
    }  
  }
}

@each $breakpoint in map.keys(maps.$breakpoints) {
  @for $i from 1 through 12 {
    @include mixins.breakpoint($breakpoint) {
      .#{$breakpoint}\:cols-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }

    @include mixins.breakpoint($breakpoint) {
      .#{$breakpoint}\:col-#{$i} {
        grid-column: span $i;
      }
    }
  }

  @for $i from 1 through 13 {
    @include mixins.breakpoint($breakpoint) {
      .#{$breakpoint}\:col-start-#{$i} {
        grid-column-start: $i;
      }
    }

    @include mixins.breakpoint($breakpoint) {
      .#{$breakpoint}\:col-end-#{$i} {
        grid-column-end: $i;
      }
    }
  }
}



