.bg-neutral-400 {
  background-color: var(--color-neutral-400);
}

.bg-neutral-500 {
  background-color: var(--color-neutral-500);
}

.bg-red-400 {
  background-color: var(--color-red-400);
}

.bg-red-500 {
  background-color: var(--color-red-500);
}

.bg-blue-400 {
  background-color: var(--color-blue-400);
}

.bg-yellow-400 {
  background-color: var(--color-yellow-400);
}

.bg-yellow-500 {
  background-color: var(--color-yellow-400);
}