html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-neutral-400);
  color: var(--color-red-500);
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  font-weight: 300;
  line-height: var(--line-height-normal);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 700;
}


.anchor {
  scroll-margin-top: var(--space-24);
}

ul {
  padding-left: 40px;
}

li {
  list-style: disc;
  padding-bottom: 0.2em;
}

blockquote {
  border-left: solid 4px var(--color-red-500);
  padding-left: 1em;
}

blockquote > p {
  margin-block-start: var(--space-6)
}