@use 'sass:math';
@use '../mixins';

:root {
  --color-neutral-400: #FFF0E6;
  --color-neutral-500: #FFE6D6;

  --color-red-400: #E74310; 
  --color-red-500: #B33118;
  --color-blue-400: #729ECB;
  --color-yellow-400: #FFA700;
  --color-yellow-500: #E69601;

  --font-family: 'Work Sans', sans-serif;
  --font-size-scale: 1.333;
  --font-size-base: 1rem;
  --font-size-md: var(--font-size-base);
  --font-size-lg: calc(var(--font-size-md) * var(--font-size-scale));
  --font-size-xl: calc(var(--font-size-lg) * var(--font-size-scale));
  --font-size-2xl: calc(var(--font-size-xl) * var(--font-size-scale));
  --font-size-3xl: calc(var(--font-size-2xl) * var(--font-size-scale));

  --line-height-normal: 1.5;
  --line-height-tight: 1.125;

  @for $i from 1 through 24 {
    --space-#{$i}: calc(0.25rem * #{$i});
  }

  @include mixins.breakpoint(xl) {
    --font-size-scale: 1.414;
  }
}
