@use '../mixins';
@use '../maps';

.text-md {
  font-size: var(--font-size-md);
}

.text-lg {
  font-size: var(--font-size-lg);
}

.text-xl {
  font-size: var(--font-size-xl);
}

.text-2xl {
  font-size: var(--font-size-2xl);
}

.leading-normal {
  line-height: var(--line-height-normal);
}

.leading-tight {
  line-height: var(--line-height-tight);
}

.markdown {
  > * + * {
    margin-block-start: calc(var(--font-size-md) * var(--line-height-normal));
  }

  a {
    text-decoration: underline;
    color: inherit;
  }

  h1 {
    font-size: var(--font-size-2xl);
  }

  ul {
    list-style: disc;
    padding-inline-start: var(--font-size-lg);
  }
}