/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: var(--color-neutral-400);
  color: var(--color-red-500);
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  font-weight: 300;
  line-height: var(--line-height-heading);
}

strong,
b {
  font-weight: 700;
}

:root {
  --color-neutral-400: #FFF0E6;
  --color-neutral-500: #FFE6D6;
  --color-red-400: #E74310;
  --color-red-500: #B33118;
  --color-blue-400: #729ECB;
  --color-yellow-400: #FFA700;
  --color-yellow-500: #E69601;
  --font-family: "Work Sans", sans-serif;
  --font-size-scale: 1.414;
  --font-size-base: 1rem;
  --font-size-md: var(--font-size-base);
  --font-size-lg: calc(var(--font-size-md) * var(--font-size-scale));
  --font-size-xl: calc(var(--font-size-lg) * var(--font-size-scale));
  --font-size-2xl: calc(var(--font-size-xl) * var(--font-size-scale));
  --line-height: 1.5;
  --line-height-heading: 1.125;
  --space-1: calc(0.25rem * 1);
  --space-2: calc(0.25rem * 2);
  --space-3: calc(0.25rem * 3);
  --space-4: calc(0.25rem * 4);
  --space-5: calc(0.25rem * 5);
  --space-6: calc(0.25rem * 6);
  --space-7: calc(0.25rem * 7);
  --space-8: calc(0.25rem * 8);
  --space-9: calc(0.25rem * 9);
  --space-10: calc(0.25rem * 10);
  --space-11: calc(0.25rem * 11);
  --space-12: calc(0.25rem * 12);
  --space-13: calc(0.25rem * 13);
  --space-14: calc(0.25rem * 14);
  --space-15: calc(0.25rem * 15);
  --space-16: calc(0.25rem * 16);
  --space-17: calc(0.25rem * 17);
  --space-18: calc(0.25rem * 18);
  --space-19: calc(0.25rem * 19);
  --space-20: calc(0.25rem * 20);
  --space-21: calc(0.25rem * 21);
  --space-22: calc(0.25rem * 22);
  --space-23: calc(0.25rem * 23);
  --space-24: calc(0.25rem * 24);
}

.hero {
  align-items: center;
  background-color: var(--color-yellow-400);
  border-color: var(--color-neutral-400);
  border-style: solid;
  border-width: var(--space-9) var(--space-9) 0 var(--space-9);
  box-sizing: border-box;
  color: var(--color-neutral-400);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-2xl);
  gap: var(--space-9);
  justify-content: center;
  min-height: 100svh;
  padding-block: var(--space-24);
  position: relative;
  text-align: center;
  z-index: 0;
}
.hero::after {
  background-color: var(--color-yellow-500);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
}

.button {
  align-items: center;
  border-radius: var(--space-1);
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-flex;
  font-size: var(--font-size-md);
  font-weight: 700;
  min-height: var(--space-12);
  padding-inline: var(--space-6);
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.button-primary {
  background-color: var(--color-red-400);
  color: var(--color-neutral-400);
}

.button-secondary {
  border: 1px solid var(--color-red-400);
  color: var(--color-red-400);
}

/*# sourceMappingURL=style.css.map */
