.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
}

.button-group-center {
  justify-content: center;
}

.button {
  align-items: center; 
  border-radius: var(--space-1);
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-flex;
  font-size: var(--font-size-md);
  font-weight: 700;
  min-height: var(--space-12);
  padding-inline: var(--space-6);
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.button-primary {
  background-color: var(--color-red-400);
  color: var(--color-neutral-400);
}

.button-secondary {
  border: 1px solid var(--color-red-400);
  color: var(--color-red-400);
}