.hero {
  align-items: center;
  background-color: var(--color-yellow-400);
  border-color: var(--color-neutral-400);
  border-style: solid;
  border-width: var(--space-12) var(--space-12) 0 var(--space-12);
  box-sizing: border-box;
  color: var(--color-neutral-400);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-2xl);
  gap: var(--space-9);
  justify-content: center;
  line-height: var(--line-height-tight);
  min-height: 100svh;
  padding-block: var(--space-24);
  padding-inline: var(--space-12);
  position: relative;
  text-align: center;
  z-index: 0;

  &::after {
    background-color: var(--color-yellow-500);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    content: '';
    inset: 0;
    position: absolute;
    z-index: -1;
  }

  .stripes {
    position: absolute;
    bottom: 0;
    max-width: 41.25rem;
  }
}

.stripes {
  display: flex;
  flex: 1;
  height: var(--space-6);
  width: 100%;

  .stripe {
    width: 100%;

    &:nth-child(1) {
      background-color: var(--color-blue-400);
    }
    
    &:nth-child(2) {
      background-color: var(--color-yellow-500);
    }

    &:nth-child(3) {
      background-color: var(--color-red-400);
    }
  }
}