---
import BoatLayout from "../layouts/BoatLayout.astro";
import TimetableItem from "../components/timetable-item.astro";
---

<BoatLayout>
    <div class="markdown" slot="boat-explainer">
        <p>
            Travel from the city center (Delft Station) to the venue through the
            Delft canals in the RustNL tour boat!
        </p>
    </div>
    <ul class="timetable" slot="timetable-day1">
        <TimetableItem
            time="08:20"
            title="Boat 1"
            speaker="From Delft Station to Venue (30 min)"
        />
        <TimetableItem
            time="08:35"
            title="Boat 2"
            speaker="From Delft Station to Venue (30 min)"
        />

        <TimetableItem time="09:45 - 18:00" title="Conference Day 1" />

        <TimetableItem
            time="18:00"
            title="Boat 1"
            speaker="From Venue to Delft Station (30 min)"
        />
        <TimetableItem
            time="18:10"
            title="Boat 2"
            speaker="From Venue to Delft + city tour (1h 15 min)"
        />
    </ul>
    <ul class="timetable" slot="timetable-day2">
        <TimetableItem
            time="08:20"
            title="Boat 1"
            speaker="From Delft Station to Venue (30 min)"
        />
        <TimetableItem
            time="08:35"
            title="Boat 2"
            speaker="From Delft Station to Venue (30 min)"
        />

        <TimetableItem time="09:45 - 19:00" title="Conference Day 2" />

        <TimetableItem
            time="19:00"
            title="Boat 1"
            speaker="From Venue to Delft Station (30 min)"
        />
        <TimetableItem
            time="19:10"
            title="Boat 2"
            speaker="From Venue to Delft Station (30 min)"
        />
    </ul>
</BoatLayout>
