---
import HomeLayout from "../layouts/HomeLayout.astro";
import Speaker from "../components/speaker.astro";
import Speakers from "../components/speakers.astro";
import PreviousSpeaker from "../components/previous_speaker.astro";
import Sponsor from "../components/sponsor.astro";
import SponsorTier from "../components/sponsor-tier.astro";
---

<HomeLayout>
    <div class="markdown" slot="explainer">
        <h1 id="explainer">RustNL 2024</h1>
        <p>
            After our first edition in <a href="#last-year"
                >Amsterdam last year</a
            >, we wanted more!
            <br />It's time for RustNL 2024, in Delft!
        </p>
        <ul>
            <li><strong>Two days</strong> of talks and workshops</li>
            <li>Interaction space and plenty of breaks to talk</li>
            <li>450 students, professionals, companies and individuals</li>
        </ul>
        <p>
            <strong>Support our conference and the Rust ecosystem</strong><br />
            Following the conference RustNL will facilitate <a href="/unconf"
                >a two-day unconference</a
            >
            for Rust maintainers.<br />
            Contact us at <a href="mailto:2024@rustnl.org">2024@rustnl.org</a> if
            you're interested in sponsoring the conference or unconference.
        </p>
        <p>
            <strong>Venue Address:</strong><br />

            <a href="https://maps.app.goo.gl/BdnVVNBir6tiJwCK9"
                >Lijm en Cultuur</a
            >, Rotterdamseweg 272, 2628 AT Delft, The Netherlands
        </p>
    </div>
    <Fragment slot="sponsors">
        <h3 class="text-2xl text-center">Our sponsors</h3>
        <SponsorTier name="Headline sponsor">
            <div class="sponsors-row">
                <Sponsor
                    name="Futurewei Technologies"
                    tier="headline"
                    image="futurewei.png"
                    link="https://www.futurewei.com/"
                />
            </div>
        </SponsorTier>
        <SponsorTier name="Silver sponsors">
            <div class="sponsors-row">
                <Sponsor
                    name="Tandemdrive"
                    tier="silver"
                    image="tandemdrive.png"
                    link="https://tandemdrive.com"
                />
            </div>
        </SponsorTier>
        <SponsorTier name="Organizing partner">
            <div class="sponsors-row">
                <Sponsor
                    name="Tweede golf"
                    tier="organizing-partner"
                    image="tweede-golf-v2.png"
                    link="https://tweedegolf.nl"
                />
            </div>
        </SponsorTier>
        <SponsorTier name="Workshop partner">
            <div class="sponsors-row">
                <Sponsor
                    name="One Variable"
                    tier="workshop-partner"
                    image="onevariable.png"
                    link="https://onevariable.com"
                />
                <Sponsor
                    name="Accelerant"
                    tier="workshop-partner"
                    image="accelerant.png"
                    link="https://accelerant.dev"
                />
            </div>
        </SponsorTier>
        <SponsorTier name="Ecosystem partners">
            <div class="sponsors-row">
                <Sponsor
                    name="Rust Foundation"
                    tier="ecosystem-partner"
                    image="rustfoundation.png"
                    link="https://foundation.rust-lang.org/"
                />
            </div>
        </SponsorTier>
        <SponsorTier name="Ecosystem supporters">
            <div class="sponsors-row">
                <Sponsor
                    name="Infineon Technologies"
                    tier="ecosystem-supporter"
                    image="infineon.png"
                    link="https://infineon.com/"
                />
            </div>
        </SponsorTier>
        <SponsorTier name="NL Community sponsors">
            <div class="sponsors-row">
                <Sponsor
                    name="Technolution"
                    tier="nl-sponsor"
                    image="technolution.png"
                    link="https://technolution.com/"
                />
            </div>
        </SponsorTier>
        <SponsorTier name="NL Community supporters">
            <div class="sponsors-row">
                <Sponsor
                    name="Jitter"
                    tier="nl-supporter"
                    image="jitter.png"
                    link="https://jitter.nl/"
                />
                <Sponsor
                    name="Rocsys"
                    tier="nl-supporter"
                    image="rocsys.png"
                    link="https://rocsys.com/"
                />
                <Sponsor
                    name="NLnet Labs"
                    tier="nl-supporter"
                    image="nlnetlabs.png"
                    link="https://nlnetlabs.nl/"
                />
            </div>
        </SponsorTier>
    </Fragment>
    <div class="markdown" slot="about">
        <h2 class="text-2xl" id="about">About RustNL</h2>
        <p>
            Stichting Rust Nederland, RustNL for short, a non-profit that
            strives to promote the implementation of the Rust programming
            language in the Netherlands and Europe.
        </p>
        <div class="button-group">
            <a
                class="button button-primary"
                style="text-decoration: none;color:var(--color-neutral-400);"
                href="/about">More About Us</a
            >
        </div>
    </div>
    <Fragment slot="speakers">
        <Speaker
            name="Mara Bos"
            image="mara.jpg"
            description="Library team & Leadership council"
        />
        <Speaker
            name="Raph Levien"
            image="raph.jpg"
            description="Research engineer at Google"
        />
        <Speaker
            name="Niko Matsakis"
            image="niko.png"
            description="Language team co-lead & Senior Principal Engineer @ AWS"
        />
        <Speaker
            name="Michael Melchiore"
            image="michaelmelchiore.jpg"
            description="On-Board Processing Specialist @ Airbus"
        />
    </Fragment>
    <Fragment slot="workshops">
        <Speaker
            name="James Munns"
            image="james.png"
            description="Embedded, systems and Rust consultant & Director @ OneVariable"
        />
        <Speaker
            name="Rik Arends"
            image="rik.jpeg"
            description="Founder @ Makepad"
        />
        <Speakers>
            <Speaker
                name="Tim McNamara"
                image="tim.png"
                description="Rust educator & consultant @ Accelerant"
            />
            <Speaker
                name="Henk Oordt"
                image="henk.png"
                description="Writing & teaching Rust @ Tweede golf"
            />
        </Speakers>
        <Speaker
            name="Luca Palmieri"
            image="luca.png"
            description="Principle Engineering Consultant @ MainMatter"
        />
    </Fragment>
    <Fragment slot="previous-speakers">
        <PreviousSpeaker
            name="Nicolas Nethercote"
            image="nicholas.png"
            talk="The status of parallel rustc"
            youtube="https://www.youtube.com/watch?v=q2vJ8Faundw&list=PL8Q1w7Ff68DCM_fsMM4v9m473sYLvJwHS&index=9"
        />
        <PreviousSpeaker
            name="Rik Arends"
            image="rik.jpeg"
            talk="Makepad: Designing modern UIs with Rust"
            youtube="https://www.youtube.com/watch?v=rC4FCS-oMpg&list=PL8Q1w7Ff68DCM_fsMM4v9m473sYLvJwHS&index=1"
        />
        <PreviousSpeaker
            name="Jonathan Kelley"
            image="jonathan.jpg"
            talk="Write once, run everywhere: building apps with Dioxus"
            youtube="https://www.youtube.com/watch?v=aSxdmXjZutI&list=PL8Q1w7Ff68DCM_fsMM4v9m473sYLvJwHS&index=6"
        />
        <PreviousSpeaker
            name="Ed Page"
            image="ed.jpg"
            talk="Testing My Patience: An Exploration of Testing in Rust"
            youtube="https://www.youtube.com/watch?v=3aLPewRSiK8&list=PL8Q1w7Ff68DCM_fsMM4v9m473sYLvJwHS&index=4"
        />
    </Fragment>
    <div class="markdown" slot="cfp">
        <h3 class="text-2xl text-center" id="cfp">Call for Proposals</h3>
        <p>
            Our call for proposals closed on Feb 26. We'll announce the selected
            speakers soon!
        </p>
    </div>
</HomeLayout>
