---
import HomeLayout from "../layouts/HomeLayout.astro";
import TimetableItem from "../components/timetable-item.astro";
import Speaker from "../components/speaker.astro";
import PreviousSpeaker from "../components/previous_speaker.astro";
---

<HomeLayout>
    <div class="markdown" slot="explainer">
        <h1 id="explainer">RustNL 2024</h1>
        <p>
            After our first edition in <a href="#last-year"
                >Amsterdam last year</a
            >, we wanted more!
            <br />It's time for RustNL 2024, in Delft!
        </p>
        <ul>
            <li><strong>Two days</strong> of talks and workshops</li>
            <li>Interaction space and plenty of breaks to talk</li>
            <li>450 students, professionals, companies and individuals</li>
        </ul>
        <p>
            <strong>Support our conference and the Rust ecosystem</strong><br />
            Following the conference RustNL will facilitate a multi day unconference
            for Rust maintainers in the mobile and embedded space. Contact us at
            <a href="mailto:2024@rustnl.org">2024@rustnl.org</a> if you're interested
            in sponsoring the conference or unconference.
        </p>
    </div>
    <div class="markdown" slot="about">
        <h2 class="text-2xl" id="about">About RustNL</h2>
        <p>
            Stichting Rust Nederland, RustNL for short, a non-profit that
            strives to promote the implementation of the Rust programming
            language in the Netherlands and Europe.
        </p>
        <p>
            We organize meetups and events in The Netherlands to bring the Rust
            community together.
        </p>
    </div>
    <Fragment slot="speakers">
        <Speaker
            name="Mara Bos"
            image="mara.jpg"
            description="Library team & Leadership council"
        />
        <Speaker
            name="Raph Levien"
            image="raph.jpg"
            description="Research engineer at Google"
        />
        <Speaker
            name="Dario Nieuwenhuis"
            image="dario.jpg"
            description="Akiles CTO & Embassy project lead"
        />
        <Speaker
            name="Michael Melchiore"
            image="michaelmelchiore.jpg"
            description="On-Board Processing Specialist @ Airbus"
        />
    </Fragment>
    <Fragment slot="previous-speakers">
        <PreviousSpeaker
            name="Nicolas Nethercote"
            image="nicholas.png"
            talk="The status of parallel rustc"
            youtube="https://www.youtube.com/watch?v=q2vJ8Faundw&list=PL8Q1w7Ff68DCM_fsMM4v9m473sYLvJwHS&index=9"
        />
        <PreviousSpeaker
            name="Rik Arends"
            image="rik.png"
            talk="Makepad: Designing modern UIs with Rust"
            youtube="https://www.youtube.com/watch?v=rC4FCS-oMpg&list=PL8Q1w7Ff68DCM_fsMM4v9m473sYLvJwHS&index=1"
        />
        <PreviousSpeaker
            name="Jonathan Kelley"
            image="jonathan.jpg"
            talk="Write once, run everywhere: building apps with Dioxus"
            youtube="https://www.youtube.com/watch?v=aSxdmXjZutI&list=PL8Q1w7Ff68DCM_fsMM4v9m473sYLvJwHS&index=6"
        />
        <PreviousSpeaker
            name="Ed Page"
            image="ed.jpg"
            talk="Testing My Patience: An Exploration of Testing in Rust"
            youtube="https://www.youtube.com/watch?v=3aLPewRSiK8&list=PL8Q1w7Ff68DCM_fsMM4v9m473sYLvJwHS&index=4"
        />
    </Fragment>
    <div class="markdown" slot="cfp">
        <h3 class="text-2xl text-center" id="cfp">Call for Proposals</h3>
        <p>
            Want to speak at RustNL 2024? Our CfP now is open!
            <br />
            The CfP closes Mon Feb 19 23:59 CET.

            <div class="button-group">
                <a
                    class="button button-primary"
                    style="text-decoration: none;color:var(--color-neutral-400);"
                    href="https://cryptpad.fr/form/#/2/form/view/WtBXS48XjwAvYXIjhgEY6yJ0EOpULX+zByvkHds2oUA/"
                    >Submit your talk proposal</a
                >
            </div>
        </p>
    </div>
</HomeLayout>
