---
import HomeLayout from "../layouts/HomeLayout.astro";
import TimetableItem from "../components/timetable-item.astro";
---

<HomeLayout>
    <div class="space-y-6" slot="explainer">
        <h1>Rust what?</h1>
        <p>
            After our first edition in <a href="#last-year">Amsterdam</a> last year,
            we wanted more! After many more meetups, it's time for RustNL 2024, this
            time in <a href="#location">Delft!</a> where 400 of you are welcome to
            join us.
        </p>
        <ul>
            <li><strong>Two</strong> day on-site event</li>
            <li>One main track with talks of various topics</li>
            <li><strong>New:</strong> Workshops</li>
            <li>Lunch and drinks included</li>
            <li>Interaction space and plenty of breaks to talk</li>
            <li>Paid tickets for companies and individuals</li>
            <li>Low-priced tickets available for students</li>
            <li>Held close to the center (and station) of Delft</li>
        </ul>
        <p>
            <strong>Please note:</strong> Even though we're called "RustNL" everyone
            is welcome to join us in Delft, not just Dutchies.
        </p>
    </div>

    <ul class="timetable" slot="timetable-day1">
        <TimetableItem time="10:00" title="Registration" />
        <TimetableItem
            time="23:59"
            title="Makepad: Designing modern UIs with Rust"
            speaker="Rik arends"
        />

        <TimetableItem time="10:00" title="Registration" />
        <TimetableItem time="10:00" title="Registration" />
        <TimetableItem time="10:00" title="Registration" />
        <TimetableItem
            time="23:59"
            title="Makepad: Designing modern UIs with Rust"
            speaker="Rik arends"
        />
        <TimetableItem
            time="23:59"
            title="Makepad: Designing modern UIs with Rust"
            speaker="Rik arends"
        />

        <TimetableItem time="10:00" title="Registration" />
        <TimetableItem time="10:00" title="Registration" />
        <TimetableItem
            time="23:59"
            title="Makepad: Designing modern UIs with Rust"
            speaker="Rik arends"
        />
        <TimetableItem time="10:00" title="Registration" />
    </ul>
    <ul class="timetable" slot="timetable-day2">
        <TimetableItem time="10:00" title="Registration" />
        <TimetableItem
            time="23:59"
            title="Makepad: Designing modern UIs with Rust"
            speaker="Rik arends"
        />

        <TimetableItem time="10:00" title="Registration" />
        <TimetableItem time="10:00" title="Registration" />
        <TimetableItem time="10:00" title="Registration" />
        <TimetableItem
            time="23:59"
            title="Makepad: Designing modern UIs with Rust"
            speaker="Rik arends"
        />
        <TimetableItem
            time="23:59"
            title="Makepad: Designing modern UIs with Rust"
            speaker="Rik arends"
        />

        <TimetableItem time="10:00" title="Registration" />
        <TimetableItem time="10:00" title="Registration" />
        <TimetableItem
            time="23:59"
            title="Makepad: Designing modern UIs with Rust"
            speaker="Rik arends"
        />
        <TimetableItem time="10:00" title="Registration" />
    </ul>
</HomeLayout>