---
import HomeLayout from "../layouts/HomeLayout.astro";
import TimetableItem from "../components/timetable-item.astro";
---

<HomeLayout>
    <div class="markdown" slot="explainer">
        <h1 id="explainer">RustNL 2024</h1>
        <p>
            After our first edition in <a href="#last-year">Amsterdam last year</a>, we wanted more!
            <br />It's time for RustNL 2024, in Delft!
        </p>
        <ul>
            <li><strong>Two days</strong> of talks and workshops</li>
            <li>Interaction space and plenty of breaks to talk</li>
            <li>450 students, professionals, companies and individuals</li>
        </ul>
        <p>
            <strong>Support our conference and the Rust ecosystem</strong><br />
            Following the conference RustNL will facilitate a multi day unconference for Rust maintainers in the mobile and embedded space.
            Contact us at <a href="mailto:2024@rustnl.org">2024@rustnl.org</a> if you're interested in sponsoring the conference or unconference.
        </p>
    </div>
    <div class="markdown" slot="about">
        <h1 id="explainer">About RustNL</h1>
        <p>
            Stichting Rust Nederland, RustNL for short, a non-profit that strives to promote the implementation of the Rust programming language in the Netherlands and Europe.
        </p>
        <p>
            We organize meetups and events in The Netherlands to bring the Rust community together.
        </p>
    </div>
</HomeLayout>