---
import IndustryLayout from "../layouts/IndustryLayout.astro";
import Speaker from "../components/speaker.astro";
import TimetableItem from "../components/timetable-item.astro";
import Sponsor from "../components/sponsor.astro";
import SponsorTier from "../components/sponsor-tier.astro";
---

<IndustryLayout>
    <div class="markdown" slot="about-industry">
        <h2 class="text-2xl space-y-6" id="about">About the industry track</h2>
        <p>
            Exploring the adoption of Rust in your organisation?<br />The industry track is designed for you: for decision makers in industry.<br />
        </p>
        <p>
            <ul>
                <li>interact with industry peers</li>
                <li>learn about Rust's many benefits, e.g. memory safety</li>
                <li>exclusive: max 50 attendees</li>
            </ul>
        </p>
        <p>
            Date & time: <strong>Tuesday May 7, 13:30 - 17:00 CET</strong>.
        </p>
        <h3 class="text-lg">City & venue</h3>
        <p class="text-lg">
            <a href="https://maps.app.goo.gl/BdnVVNBir6tiJwCK9"
                >Lijm en Cultuur</a
            >, <br /> Rotterdamseweg 272, <br /> 2628 AT Delft, The Netherlands
        </p>
    </div>
    <div class="markdown" slot="tickets">
        <h2 class="text-2xl space-y-6" id="about">Tickets</h2>
        <p>
            To attend the industry track, you will need an Industry Track
            ticket.<br />
            Tickets are EUR 99,- ex vat.
        </p>
        <div class="button-group">
            <a
                class="button button-primary"
                style="text-decoration: none;color:var(--color-neutral-400);"
                target="_blank"
                href="https://www.eventbrite.nl/e/790061233417/?discount=industry-track-only"
                >Get Industry Track ticket</a
            >
        </div>
        <p>
            Join the RustNL developer conference on Tue+Wed May 7/8?<br />
            Get a Combi ticket for the conference incl Industry track. <br />Combi tickets are EUR 399,- ex vat.
        </p>
        <div class="button-group">
            <a
                class="button button-primary"
                style="text-decoration: none;color:var(--color-neutral-400);"
                target="_blank"
                href="https://www.eventbrite.nl/e/790061233417/?discount=industry-track-combi"
                >Get Combi ticket</a
            >
        </div>
    </div>
    <Fragment slot="speakers">
        <Speaker
            name="Tim McNamara"
            image="tim.png"
            description="Rust software consultant and coach, author of Rust in Action"
        />
        <Speaker
            name="Frédéric Ameye"
            image="frederic.png"
            description="Cybersecurity architect at Ampere"
        />
        <Speaker
            name="Jakub Beránek"
            image="jakub.jpg"
            description="Rust Survey Team Co-lead"
        />
        <Speaker
            name="Tiago Manczak"
            image="tiago.jpeg"
            description="Principal firmware engineer at Infineon"
        />
        <Speaker
            name="Joachim den Hertog"
            image="joachim.jpeg"
            description="Senior Principal Engineer at Storio Group (formerly Albelli)"
        />
        <Speaker
            name="Paul Lenz"
            image="paullenz.jpg"
            description="Director of Finance and Funding at the Rust Foundation"
        />
        <Speaker
            name="Floris van der Grinten"
            image="floris.jpg"
            description="Senior Engineer at 1Password"
        />
        <Speaker
            name="Ed Page"
            image="ed.jpg"
            description="Member of the Rust Cargo Team"
        />
    </Fragment>

    <div slot="sponsors">
        <SponsorTier name="Gold sponsor">
            <div class="sponsors-row">
                <Sponsor
                    name="ISRG"
                    tier="industry-partner"
                    image="isrg.png"
                    link="https://www.abetterinternet.org/"
                />
                <Sponsor
                    name="Baseflow"
                    tier="nl-sponsor"
                    image="baseflow.png"
                    link="https://baseflow.com/"
                />
                <Sponsor
                    name="RustRover"
                    tier="industry-partner"
                    image="rustrover.png"
                    link="https://www.jetbrains.com/rust/"
                />
            </div>
        </SponsorTier>
        <SponsorTier name="Ecosystem partner">
            <div class="sponsors-row">
                <Sponsor
                    name="Rust Foundation"
                    tier="industry-partner"
                    image="rustfoundation.png"
                    link="https://foundation.rust-lang.org/"
                />
                <Sponsor
                    name="Futurewei Technologies"
                    tier="industry-partner"
                    image="futurewei.png"
                    link="https://www.futurewei.com/"
                />
            </div>
        </SponsorTier>
        <SponsorTier name="Industry partners">
            <div class="sponsors-row">
                <Sponsor
                    name="Infineon Technologies"
                    tier="industry-partner"
                    image="infineon.png"
                    link="https://infineon.com/"
                />
                <Sponsor
                    name="Accelerant"
                    tier="industry-partner"
                    image="accelerant.png"
                    link="https://accelerant.dev"
                />
                <Sponsor
                    name="Ampere"
                    tier="industry-partner"
                    image="ampere-transparent.png"
                    link="https://www.ampere.cars/"
                />
            </div>
            <div class="sponsors-row">
                <Sponsor
                    name="1Password"
                    tier="industry-partner"
                    image="1password.png"
                    link="https://1password.com/"
                />
                <Sponsor
                    name="Albelli"
                    tier="industry-partner"
                    image="albelli-transparent.png"
                    link="https://www.albelli.nl/"
                />
            </div>
        <SponsorTier name="Round table moderators">
            <div class="sponsors-row">
                <Sponsor
                    name="Matthias Endler"
                    tier="industry-partner"
                    link="https://corrode.dev/"
                />
                <Sponsor
                    name="Wouter Geraedts"
                    tier="industry-partner"
                    link="https://sarif.nl/"
                />
                <Sponsor
                    name="Kris van Rens"
                    tier="industry-partner"
                    link="https://vanrens.org/"
                />
            </div>
        </SponsorTier>
        <SponsorTier name="Powered by">
            <div class="sponsors-row">
                <Sponsor
                    name="Tweede golf"
                    tier="industry-partner"
                    image="tweede-golf-v2.png"
                    link="https://tweedegolf.nl"
                />
                <Sponsor
                    name="RustNL"
                    tier="industry-partner"
                    image="../logo.svg"
                    link="/about"
                />
            </div>
        </SponsorTier>
    </div>
    <ul class="timetable" slot="timetable-day">
        <TimetableItem time="13:30" title="Registration" />
        <TimetableItem time="14.00" title="Opening" speaker="Tim McNamara" />
        <TimetableItem
            time="14.05"
            title="Rust at Renault"
            speaker="Frédéric Ameye"
        />
        <TimetableItem
            time="14.30"
            title="Global State of Rust"
            speaker="Jakub Beránek"
        />
        <TimetableItem time="14.50" title="Short break" />
        <TimetableItem
            time="15.00"
            title="Industry Panel - learn from Infineon, 1Password, Albelli and Rust Foundation"
            speaker="Paul Lenz, Ed Page, Tiago Manczak, Joachim den Hertog, Floris van der Grinten"
        />
        <TimetableItem
            time="15:30"
            title="Roundtable discussions - on adopting Rust"
            speaker="Moderated by Kris van Rens, Matthias Endler, Wouter Geraedts"
        />
        <TimetableItem
            time="16.35"
            title="Closing Remarks"
            speaker="Sid Askary, Tim McNamara"
        />
        <TimetableItem
            time="16.45"
            title="Drinks (with conference attendees)"
        />
    </ul>
</IndustryLayout>