---
import IndustryLayout from "../layouts/IndustryLayout.astro";
import Organiser from "../components/organiser.astro";
import Speaker from "../components/speaker.astro";
import TimetableItem from "../components/timetable-item.astro";
import Sponsor from "../components/sponsor.astro";
import SponsorTier from "../components/sponsor-tier.astro";
---

<IndustryLayout>
    <div class="markdown" slot="about-industry">
        <h2 class="text-2xl space-y-6" id="about">About this track</h2>
        <p>
            A dedicated track during the RustNL conference, for decision makers
            exploring the adoption of Rust in their team / department /
            organisation. On Tuesday May 7 in the afternoon.
        </p>
        <p>
            <ul>
                <li>interact with and learn from industry peers</li>
                <li>international, inspirational, practical</li>
                <li>exclusive: max 50 attendees</li>
            </ul>
        </p>
        <h3 class="text-lg">City & venue</h3>
        <p class="text-lg">
            <a href="https://maps.app.goo.gl/BdnVVNBir6tiJwCK9"
                >Lijm en Cultuur</a
            >, <br /> Rotterdamseweg 272, <br /> 2628 AT Delft, The Netherlands
        </p>
    </div>
    <div class="markdown" slot="tickets">
        <h2 class="text-2xl space-y-6" id="about">Tickets</h2>
        <p>
            To attend the industry track, you will need an Industry Track ticket or a Combi ticket that also includes attendance to the developer conference.
        </p>
        <div class="button-group">
            <a
                class="button button-primary"
                style="text-decoration: none;color:var(--color-neutral-400);"
                target="_blank"
                href="https://www.eventbrite.nl/e/790061233417/?discount=industry-track-only">Get Industry Track ticket</a
            >
            <a
                class="button button-primary"
                style="text-decoration: none;color:var(--color-neutral-400);"
                target="_blank"
                href="https://www.eventbrite.nl/e/790061233417/?discount=industry-track-combi">Get Combi ticket</a
            >
        </div>
    </div>
    <Fragment slot="speakers">
        <Speaker
            name="Tim McNamara"
            image="tim.jpeg"
            description="Rust software consultant and coach, author of Rust in Action"
        />
        <Speaker
            name="Frédéric Ameye"
            image="frederic.png"
            description="Cybersecurity architect at Ampere"
        />
        <Speaker
            name="Tiago Manczak"
            image="tiago.jpeg"
            description="Principal firmware engineer at Infineon"
        />
        <Speaker
            name="Joachim den Hertog"
            image="joachim.jpeg"
            description="Senior Principal Engineer at Storio Group (formerly Albelli)"
        />
    </Fragment>

    <Fragment slot="speakers-tba">
        <p class="text-center text-lg col-12">
            More speakers and panelists to be announced soon
        </p>
    </Fragment>

    <div slot="sponsors">
        <SponsorTier name="Organizer">
            <div class="sponsors-row">
                <Sponsor
                    name="Tweede golf"
                    tier="organizing-partner"
                    image="tweede-golf-v2.png"
                    link="https://tweedegolf.nl"
                />
            </div>
        </SponsorTier>
        <SponsorTier name="Industry partners">
            <div class="sponsors-row">
                <Sponsor
                    name="Infineon Technologies"
                    tier="industry-partner"
                    image="infineon.png"
                    link="https://infineon.com/"
                />
                <Sponsor
                    name="Accelerant"
                    tier="industry-partner"
                    image="accelerant.png"
                    link="https://accelerant.dev"
                />
                <Sponsor
                    name="Ampere"
                    tier="industry-partner"
                    image="ampere.png"
                    link="https://www.ampere.cars/"
                />
            </div>
            <div class="sponsors-row">
                <Sponsor
                    name="Mathias Endler"
                    tier="industry-partner"
                    link="https://endler.dev/"
                />
                <Sponsor
                    name="Wouter Geraedts"
                    tier="industry-partner"
                    link="https://sarif.nl/"
                />
                <Sponsor
                    name="Kris van Rens"
                    tier="industry-partner"
                    link="https://vanrens.org/"
                />
            </div>
        </SponsorTier>
        <SponsorTier name="Ecosystem partner">
            <div class="sponsors-row">
                <Sponsor
                    name="Rust Foundation"
                    tier="industry-partner"
                    image="rustfoundation.png"
                    link="https://foundation.rust-lang.org/"
                />
                <Sponsor
                    name="Futurewei Technologies"
                    tier="industry-partner"
                    image="futurewei.png"
                    link="https://www.futurewei.com/"
                />
            </div>
        </SponsorTier>
    </div>
    <Fragment slot="support">
        <Organiser
            name="Tweede golf"
            image="empty.png"
            description="Tweede golf is organizing partner of RustNL 2024."
        />
    </Fragment>

    <ul class="timetable" slot="timetable-day">
        <TimetableItem time="13:30" title="Registration" />
        <TimetableItem time="14.00" title="Opening" speaker="Tim McNamara" />
        <TimetableItem
            time="14.05"
            title="Rust at Renault"
            speaker="Frédéric Ameye"
        />
        <TimetableItem
            time="14.30"
            title="Global State of Rust"
            speaker="To be announced"
        />
        <TimetableItem time="14.50" title="Short break" />
        <TimetableItem
            time="15.00"
            title="Industry Panel - learn from Infineon, Albelli, and others"
            speaker="Tiago Manczak"
        />
        <TimetableItem
            time="15:30"
            title="Roundtable discussions - on adopting Rust"
            speaker="Moderated by Kris van Rens, Matthias Endler, Wouter Geraedts"
        />
        <TimetableItem
            time="16.45"
            title="Closing Remarks"
            speaker="Tim McNamara"
        />
    </ul>
</IndustryLayout>
