---
import IndustryLayout from "../layouts/IndustryLayout.astro";
import Organiser from "../components/organiser.astro";
import Speaker from "../components/speaker.astro";
import TimetableItem from "../components/timetable-item.astro";
---

<IndustryLayout>
    <div class="markdown" slot="about-industry">
        <h2 class="text-2xl space-y-6" id="about">About this track</h2>
        <p>
            A dedicated track during the RustNL developer conference for
            decision makers who are exploring the adoption of Rust in their team
            / department / organisation, on Tuesday May 7 in the afternoon.
        </p>
        <p>
            <ul>
                <li> interact with and learn from industry peers </li>
                <li> international, inspirational, practical </li>
                <li>exclusive: max 50 attendees </li>
            </ul>
        </p>
    </div>
    <div class="markdown" slot="tickets">
        <h2 class="text-2xl space-y-6" id="about">Tickets</h2>
        <p>
            To attend the industry track, you will need a separate industry
            track ticket. A ticket for the RustNL conference is not required.
        </p>
        <div class="button-group">
            <a
                class="button button-primary"
                style="text-decoration: none;color:var(--color-neutral-400);"
                href="#">Buy ticket</a
            >
        </div>
    </div>
    <Fragment slot="speakers">
        <Speaker name="Tim McNamara" image="tim.jpeg" description="Rust software consultant and coach, author of Rust in Action" />
        <Speaker name="Frédéric Ameye" image="frederic.png" description="Cybersecurity architect at Ampere" />
    </Fragment>

    <Fragment slot="support">
        <Organiser
            name="Tweede golf"
            image="empty.png"
            description="Tweede golf is organizing partner of RustNL 2024."
        />
        <Organiser
            name="The Red Dress Effect"
            image="empty.png"
            description="Anna Kocks of the Red Dress Effect is an event planner of tech events, supporting us with the logistics of the conference."
        />
        <Organiser
            name="Grafische Republiek"
            image="empty.png"
            description="Erwin is designer and front-end developer at Grafische Republiek."
        />
    </Fragment>

    <ul class="timetable" slot="timetable-day">
        <TimetableItem time="14:00" title="Registration" />
        <TimetableItem time="23:59" title="tbd" speaker="tbd" />
        <TimetableItem time="23:59" title="tbd" speaker="tbd" />
        <TimetableItem time="23:59" title="tbd" speaker="tbd" />
    </ul>
</IndustryLayout>
