---
import LiveLayout from "../layouts/LiveLayout.astro";
---

<LiveLayout>
    <div>
        <br /><br />
        <h2 class="text-2xl">Day 1</h2>
        <iframe
            style="aspect-ratio: 16/9; width:60vw;"
            src="https://www.youtube.com/embed/XLefuzE-ABU?si=ou4-PMZx0dkQ_t5a"
            title="RustNL 2024 Conference Day 1"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        <br /><br /><br /><br />
        <h2 class="text-2xl">Day 2</h2>
        <iframe
            style="aspect-ratio: 16/9; width:60vw;"
            src="https://www.youtube.com/embed/521NfGf7AR0"
            title="RustNL 2024 Conference Day 2"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
    </div>
</LiveLayout>
