---
import UnconfLayout from "../layouts/UnconfLayout.astro";
import Sponsor from "../components/sponsor.astro";
import SponsorTier from "../components/sponsor-tier.astro";
import TimetableItem from "../components/timetable-item.astro";
---

<UnconfLayout>
    <div class="markdown" slot="unconf">
        <h2 class="text-2xl space-y-6" id="unconf">Support the ecosystem</h2>
        <p>
            RustNL will host an unconference for Rust maintainers and Rust
            Project team members on <strong>May 9 & 10</strong>.
        </p>
        <p>
            Two areas of focus are <strong
                >multi-platform application development</strong
            > and
            <strong>embedded systems</strong>.
        </p>
        <p>
            The unconf organization is supported by <a
                href="https://robius.rs/"
                target="_blank">Project Robius</a
            >, the <a href="https://github.com/rust-embedded/wg" target="_blank"
                >Embedded devices working group</a
            >.
        </p>
        <p>
            <strong>Sponsor the unconf</strong><br />
            Contact us at <a href="mailto:2024@rustnl.org">2024@rustnl.org</a> if
            you're interested in sponsoring the unconference.
        </p>
    </div>
    <div slot="support">
        <SponsorTier name="Organizing partners">
            <div class="sponsors-row">
                <div
                    class="sponsor"
                    style="--image: url(/images/sponsors/unconf/embedded-wg.png);"
                >
                </div>
                <div
                    class="sponsor"
                    style="--image: url(/images/sponsors/unconf/robius-app-dev.png);"
                >
                </div>
            </div>
        </SponsorTier>
    </div>
    <div class="markdown" slot="participate">
        <h2 class="text-xl space-y-6">Participating in the unconf</h2>
        <p>
            The unconf is not open to the general public and requires an
            invitation to attend. Are you a Rust maintainer or Rust project team
            member and want to participate in the unconf? Send us an <a
                href="mailto: erik@rustnl.org">email</a
            >.<br />
            Update: the unconf is at full capacity; we can no longer accept new participants.
        </p>
    </div>
    <div slot="sponsors">
        <h3 class="text-2xl text-center">Unconference sponsors</h3>
        <SponsorTier name="Ecosystem partner">
            <div class="sponsors-row">
                <Sponsor
                    name="Rust Foundation"
                    tier="ecosystem-partner"
                    image="rustfoundation.png"
                    link="https://foundation.rust-lang.org/"
                />
                <Sponsor
                    name="Futurewei Technologies"
                    tier="ecosystem-partner"
                    image="futurewei.png"
                    link="https://www.futurewei.com/"
                />
            </div>
        </SponsorTier>
        <SponsorTier name="Ecosystem supporters">
            <div class="sponsors-row">
                <Sponsor
                    name="Infineon Technologies"
                    tier="ecosystem-supporter"
                    image="infineon.png"
                    link="https://infineon.com/"
                />
                <Sponsor
                    name="One Variable"
                    tier="ecosystem-supporter"
                    image="onevariable.png"
                    link="https://onevariable.com"
                />
                <Sponsor
                    name="Ferrous Systems"
                    tier="ecosystem-supporter"
                    image="ferrous.png"
                    link="https://ferrous-systems.com/"
                />
            </div>
        </SponsorTier>
        <SponsorTier name="Supporters">
            <div class="sponsors-row">
                <Sponsor
                    name="Christian Meusel"
                    link="https://christian-meusel.de"
                />
            </div>
        </SponsorTier>
    </div>
    <ul class="timetable" slot="timetable-day1">
        <TimetableItem time="09:00" title="Venue opens + registration" />
        
        <TimetableItem time="09:30" title="Welcome & Start of Day 1" />

        <TimetableItem
            time="09:45"
            title="Unconf break-out sessions"
            speaker="Tracks: UI & App Dev | Project | Embedded"
        />

        <TimetableItem time="10:30" title="Coffee break" />

        <TimetableItem
            time="11:00"
            title="Unconf break-out sessions"
            speaker="Tracks: UI & App Dev | Project | Embedded"
        />

        <TimetableItem time="12:30" title="Lunch @ Machinehal" />
        
        <TimetableItem
            time="13:30"
            title="Unconf break-out sessions"
            speaker="Tracks: UI & App Dev | Project | Embedded"
        />

        <TimetableItem time="15:00" title="Coffee break" />

        <TimetableItem
            time="15:30"
            title="Unconf break-out sessions"
            speaker="Tracks: UI & App Dev | Project | Embedded"
        />

        <TimetableItem time="17:00" title="Drinks" />

        <TimetableItem time="18:00" title="End of day 1" />
    </ul>
    <ul class="timetable" slot="timetable-day2">
        <TimetableItem time="09:00" title="Venue opens" />

        <TimetableItem time="09:30" title="Start of day 2" />

        <TimetableItem
            time="09:30"
            title="Unconf break-out sessions"
            speaker="Tracks: UI & App Dev | Project | Embedded"
        />

        <TimetableItem time="10:30" title="Coffee break" />

        <TimetableItem
            time="11:00"
            title="Unconf break-out sessions"
            speaker="Tracks: UI & App Dev | Project | Embedded"
        />

        <TimetableItem time="12:30" title="Lunch @ Machinehal" />
        
        <TimetableItem
            time="13:30"
            title="Unconf break-out sessions"
            speaker="Tracks: UI & App Dev | Project | Embedded"
        />

        <TimetableItem time="15:00" title="Coffee break" />

        <TimetableItem
            time="15:30"
            title="Unconf break-out sessions"
            speaker="Tracks: UI & App Dev | Project | Embedded"
        />

        <TimetableItem time="17:00" title="Drinks" />

        <TimetableItem time="18:00" title="End of day 2" />
    </ul>
</UnconfLayout>
