---
import Organiser from "../components/organiser.astro";
import WorkshopLayout from "../layouts/WorkshopLayout.astro";
---

<WorkshopLayout>
    <div class="markdown" slot="description">At</div>
</WorkshopLayout>
