<footer class="footer">
  <a href="#contact">Contact</a>
  <a href="https://www.rust-lang.org/policies/code-of-conduct">Code of conduct</a>
  <a href="https://twitter.com/Rust_NL">Twitter</a>
  <a href="https://fosstodon.org/@rustnl">Mastodon</a>
</footer>