---
import Menu from "./menu.astro"
---

<footer class="footer">
  <div class="menu">
    <Menu />
  </div>
  <div class="menu">
      <a href="https://www.rust-lang.org/policies/code-of-conduct">Code of conduct</a>
      <a href="https://twitter.com/Rust_NL">Twitter</a>
      <a href="https://fosstodon.org/@rustnl">Mastodon</a>
      <a href="https://www.linkedin.com/company/rustnl/">LinkedIn</a>
  </div>
</footer>