---
import Menu from "./menu.astro";
---

<footer class="footer">
  <div class="menu">
    <Menu />
  </div>
  <div class="menu">
    <a href="/directions">Directions</a>
    <a href="/boat">Boat to venue</a>
    <a href="/workshops">Workshops</a>
    <a href="/unconf">RustNL 2024 unconf</a>
    <a href="https://europe2024.gosim.org/">Co-located event: GOSIM Europe</a>
  </div>
  <div class="menu">
    <a href="/resources/sponsorship-prospectus-rustnl-2024.pdf">Sponsorships</a>
    <a href="/code-of-conduct">Code of conduct</a>
    <a href="/accessibility">Accessibility</a>
    <a href="/health-brief">Health and Safety Policy</a>
    <a href="/directions">Getting to the Venue</a>
    <a href="https://twitter.com/Rust_NL">Twitter</a>
    <a href="https://fosstodon.org/@rustnl" rel="me">Mastodon</a>
    <a href="https://www.linkedin.com/company/rustnl/">LinkedIn</a>
  </div>
</footer>
