<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RustNL 2024</title>
    <meta
        name="description"
        content="RustNL 2024, The Netherlands - May 2024"
    />
    <link rel="icon" href="./svg/rustnl.svg" type="image/svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />

    <meta property="twitter:site" content="@Rust_NL" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="https://2024.rustnl.org/" />
    <meta property="og:title" content="RustNL 2024" />
    <meta
        property="og:description"
        content="RustNL 2024, The Netherlands - May 2024"
    />
    <meta
        property="og:image"
        content="https://2024.rustnl.org/images/logo-1000px.png"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;700&display=swap"
        rel="stylesheet"
    />
</head>
