---
const { withLogo } = Astro.props;
---

<div class="header">
  {withLogo &&
    <a class="logo" href="/">
      <img src="/images/logo.svg" alt="Logo RustNL 2024" />
    </a>
  }
  <div class="hamburger button button-primary" data-menu-toggle></div>
  <div class="menu" data-menu>
    <a href="/speakers">Speakers</a>
    <a href="/workshops">Workshops</a>
    <a href="/about">About</a>
    <a href="mailto:2024@rustnl.org">Contact</a>
    <!-- a href="/schedule" class="button button-secondary">Schedule</a-->
  </div>
  <div class="overlay" data-menu-overlay></div>
</div>

<script>
  const toggle = document.querySelector('[data-menu-toggle]');
  const menu = document.querySelector('[data-menu]');
  const overlay = document.querySelector('[data-menu-overlay]');

  function toggleMenu() {
    menu?.classList.toggle('open');
    overlay?.classList.toggle('open');
    toggle?.classList.toggle('open');
  }

  toggle?.addEventListener('click', toggleMenu)
</script>