---
const { name, image, description } = Astro.props;
---

<div class="speaker organizer">
    <div class="space-y-6">
        <img src={`/images/organisers/${image}`} alt={name} />
        <div>
            <h4 class="font-light text-lg leading-tight py-2">{name}</h4>
            <p style="text-align: center;">{description}</p>
        </div>
    </div>
</div>
