---
const { name, image, description } = Astro.props;
---

<div class="speaker">
    <div class="space-y-6">
        <img src={`/images/organisers/${image}`} alt="" />
        <div>
            <h4 class="font-light text-lg leading-tight">{name}</h4>
            <h3>{description}</h3>
        </div>
    </div>
</div>
