---
const { name, image, talk, youtube } = Astro.props;
---

<div class="speaker">
    <div class="space-y-6">
        <img src={`/images/speakers/${image}`} alt="" />
        <div>
            <h3>{name}</h3>
            <h4 class="font-light text-lg leading-tight">{talk}</h4>
        </div>
    </div>
    <a href={youtube}>View on youtube</a>
</div>
