    ---
const { name, image, description } = Astro.props;
---

<div class="speakers">
    <slot />
</div>

<style>
    @media not all and (max-width: 768px) {
        .speakers {
            grid-column: span 2;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media not all and (min-width: 768px) {
    }
</style>
