---
const { name, image, description } = Astro.props;
---

<div class="speakers">
    <slot />
</div>

<style>
    @media not all and (max-width: 768px) {
        .speakers {
            grid-column: span 2 / span 2;
            flex-direction: row;

            display: flex;
            justify-content: space-around;
        }
    }

    @media not all and (min-width: 768px) {
        .speakers {
            grid-column: span 1 / span 1;
            flex-direction: column;
        }
    }
</style>
