---
interface Props {
    name: string;
    author: string;
    span: number;
    link?: string;
    on: boolean;
}

const { name, author, span, link, on } = Astro.props;
---

<a class:list={["workshop-schedule ", { on: on }]} href={`/workshops/${name}`}>
    {name} - {author}
</a>

<style define:vars={{ span }}>
    .workshop-schedule {
        grid-row: span var(--span);
        color: #fff0e6;
        text-decoration: none;
        writing-mode: vertical-rl;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: larger;
        font-weight: bold;
    }

    .on {
        background-color: var(--color-red-500);
    }
</style>
