---
const {
    name,
    image,
    title,
    talkTitle,
    bio,
    linkedin,
    twitter,
    mastodon,
    github,
} = Astro.props;
---


    <div class="markdown">
        <div>
            <h2 style="font-style: italic;" class="text-lg">{talkTitle}</h2>
            <br />
            <p>
                <slot />
            </p>
        </div>
    </div>

