---
const {
    title,
} = Astro.props;
---


    <div class="markdown">
        <div>
            <h2 style="font-style: italic;" class="text-lg">{title}</h2>
            <br />
            <p>
                <slot />
            </p>
        </div>
    </div>

