---
const {
    title,
} = Astro.props;
---


    <div class="markdown">
        <div class="space-y-6">
            <h2 style="font-style: italic;" class="text-lg">{title}</h2>
            <div class="space-y-6">
                <slot />
            </div>
        </div>
    </div>

