---
const { title, time, id } = Astro.props;
---

<div class="markdown">
    <div class="space-y-6">
        <h2 style="font-style: italic;" class="text-lg">{title}</h2>
        <strong>
            {time}
        </strong>
        <div class="space-y-6" id={id}>
            <slot />
        </div>
    </div>
</div>
