---
import Head from "../components/head.astro";
import Footer from "../components/footer.astro";
import "../styles/index.scss";
---

<!doctype html>
<html lang="en">
  <Head title="About - RustNL 2024" />

  <body>
    <section class="hero page">
      <div class="nav">
        <a href="/">
          <img src="/images/logo.svg" alt="Logo RustNL 2024" />
        </a>
        <div class="button-group">
          <a href="/" class="button button-primary">Home</a>
        </div>
      </div>
      <h1 class="text-3xl">About</h1>
    </section>
    <section class="container md:grid md:cols-12 py-12">
      <div
        class="text-lg md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
      >
        <slot name="about-long" />
      </div>
    </section>
    <section class="container py-12 space-y-6">
      <div
        class="space-y-12 md:grid md:cols-2 md:space-y-0"
        style="justify-content: center;"
      >
      </div>
      <h3 class="text-2xl text-center">RustNL 2024 team</h3>
      <div class="grid md:cols-2 xl:cols-3" id="organisers">
        <slot name="organisers" />
      </div>

      <h3 class="text-2xl text-center py-12">Volunteers</h3>
      <div class="grid md:cols-2 xl:cols-4" id="volunteers">
        <slot name="volunteers" />
      </div>

      <h3 class="text-2xl text-center py-12">Supporting Us</h3>
      <div class="grid md:cols-2 xl:cols-4" id="support">
        <slot name="support" />
      </div>
    </section>

    <Footer />
  </body>
</html>
