---
import Head from "../components/head.astro";
import Footer from "../components/footer.astro";
import "../styles/index.scss";
---

<!doctype html>
<html lang="en">
  <Head title="Accessibility - RustNL 2024" />

  <body>
    <section class="hero page">
      <div class="nav">
        <img src="/images/logo.svg" alt="Logo RustNL 2024" />
        <div class="button-group">
          <a href="/" class="button button-primary">Home</a>
        </div>
      </div>
      <h1 class="text-3xl">Accessibility</h1>
    </section>
    <section class="container py-24 space-y-12" id="schedule">
      <slot name="text" />

      <div class="button-group button-group-center">
        <a class="button button-primary" href="/">Back Home</a>
      </div>
    </section>

    <Footer />
  </body>
</html>
