---
import Head from "../components/head.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import "../styles/index.scss";
---

<!doctype html>
<html lang="en">
    <Head title="Boat schedule - RustNL 2024" />

    <body>
        <Header withLogo />
        <section class="hero page">
            <h1 class="text-3xl">Boat schedule</h1>
        </section>
        <section class="container md:grid md:cols-12 py-24">
            <div
                class="text-lg md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
            >
                <slot name="boat-explainer" />
            </div>
        </section>
        <section class="container py-24 space-y-12" id="schedule">
            <div class="space-y-12 md:grid md:cols-2 md:space-y-0">
                <div class="space-y-6 px-3 sm:px-6 md:space-y-12 xl:px-12">
                    <h3 class="text-xl">
                        Boat schedule <strong>Day 1 / May 7</strong>
                    </h3>
                    <slot name="timetable-day1" />
                </div>
                <div class="space-y-6 px-3 sm:px-6 md:space-y-12 xl:px-12">
                    <h3 class="text-xl">
                        Boat schedule <strong>Day 2 / May 8</strong>
                    </h3>
                    <slot name="timetable-day2" />
                </div>
            </div>
        </section>

        <section class="container py-24 space-y-12">
            <div class="location">
                <div class="image boat"></div>
                <div class="image boat"></div>
                <div class="image">
                    <div class="ferris"></div>
                    <div class="ferris-arms"></div>
                </div>
                <div class="ferris">
                    <img src="/images/ferris.png" alt="" />
                </div>
            </div>
        </section>

        <Footer />
    </body>
</html>
