---
import Head from "../components/head.astro";
import Menu from '../components/menu.astro';
import Footer from "../components/footer.astro";

import "../styles/index.scss";
---

<!doctype html>
<html lang="en">
  <Head title="RustNL 2024" />
  <body>
    <Menu />
    <div class="space-y-24">
      <section class="hero">
        <img src="/images/logo.svg" alt="Logo RustNL 2024" />
        <p>May 7 & 8, 2024<br /><strong>Delft</strong>, The Netherlands</p>
        <div class="button-group">
          <a
            href="https://www.eventbrite.nl/e/rustnl-2024-tickets-790061233417?aff=oddtdtcreator"
            class="button button-primary">Tickets</a
          >
          <a
            href="/speakers"
            class="button button-secondary">Speakers</a
          >
          <a
          href="/workshops"
          class="button button-secondary">Workshops</a
        >
        </div>
        <a class="down-arrow" href="#explainer"></a>
      </section>
      <section class="container md:grid md:cols-12">
        <div
          class="text-lg md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
        >
          <slot name="explainer" />
        </div>
      </section>
      <section class="container">
        <div class="location">
          <div class="image"></div>
          <div class="image"></div>
          <div class="image">
            <div class="ferris"></div>
            <div class="ferris-arms"></div>
          </div>
          <div class="ferris">
            <img src="/images/ferris.png" alt="" />
          </div>
        </div>
      </section>
      <section class="container space-y-6">
        <h3 class="text-2xl text-center">Our speakers</h3>
        <div class="grid md:cols-2 xl:cols-4" id="speakers">
          <slot name="speakers" />
        </div>
      </section>
      <section class="container space-y-6">
        <div class="button-group">
          <a href="/speakers" class="button button-primary">All our speakers</a>
        </div>
      </section>
      <section class="container space-y-6">
        <h3 class="text-2xl text-center">Workshops by</h3>
        <div class="grid md:cols-2 xl:cols-4" id="workshops">
          <slot name="workshops" />
        </div>
        <div class="button-group">
          <a
            class="button button-primary"
            style="text-decoration: none;color:var(--color-neutral-400);"
            href="/workshops">Workshop details</a
          >
        </div>
      </section>
      <section class="container sponsors" id="sponsors">
        <slot name="sponsors" />
      </section>
      <section class="last-year space-y-24">
        <section class="container space-y-6" id="last-year">
          <h3 class="text-xl text-center">RustNL 2023</h3>
          <div class="grid md:cols-2 xl:cols-4">
            <div class="benefit">
              <div class="icon rocket"></div>
              <div>
                <strong>First edition</strong> in Amsterdam in 2023
              </div>
            </div>
            <div class="benefit">
              <div class="icon ticket"></div>
              <div>
                <strong>Sold out</strong><br /> 300 attendees
              </div>
            </div>
            <div class="benefit">
              <div class="icon eye"></div>
              <div>
                <strong>100k</strong><br />Youtube views
              </div>
            </div>
            <div class="benefit">
              <div class="icon message"></div>
              <div>
                <strong>10 talks</strong> covering rustc, UIs, Servo, cargo, sudo,
                and Escher
              </div>
            </div>
          </div>
        </section>
        <section class="container space-y-6">
          <h3 class="text-xl text-center">Last year's speakers</h3>
          <div class="grid md:cols-2 xl:cols-4" slot="previous-speakers">
            <slot name="previous-speakers" />
          </div>
        </section>
        <div class="section container space-y-6">
          <h3 class="text-center text-xl">2023 playlist</h3>
          <div class="lg:grid lg:cols-12">
            <div class="lg:col-start-2 lg:col-end-12">
              <div class="youtube">
                <iframe
                  height="100%"
                  width="100%"
                  src="https://www.youtube-nocookie.com/embed/rC4FCS-oMpg?si=4kjeYRPt39fp7YVB"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container md:grid md:cols-12">
        <div
          class="text-lg md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
        >
          <slot name="about" />
        </div>
      </section>
    </div>
    <Footer />
  </body>
</html>
