---
import Head from "../components/head.astro";
---

<!doctype html>
<html lang="en">
  <Head />
  <style lang="scss" is:global>
    @import "../styles/index.scss";
  </style>

  <body>
    <div class="space-y-24">
      <section class="hero">
        <img src="/images/logo.svg" alt="Logo RustNL 2024" />
        <p>10 May 2024 <br /> <strong>TU Delft</strong>, Nederland</p>
        <div class="button-group">
          <a href="#" class="button button-primary">Schedule</a>
          <a href="#" class="button button-secondary">Our speakers</a>
        </div>
      </section>
      <section class="container grid cols-12">
        <div class="col-start-4 col-end-10 markdown text-lg">
          <slot name="explainer" />
        </div>
      </section>
      <section class="container">
        <div class="location">
          <div>1</div>
          <div>2</div>
          <div>
            <div class="ferris"></div>
            <div class="ferris-arms"></div>
          </div>
        </div>
      </section>
      <section class="container space-y-12">
        <div class="grid cols-2">
          <div class="space-y-12 px-12">
            <h3 class="text-2xl">Schedule <strong>day 1</strong></h3>
            <slot name="timetable-day1" />
          </div>
          <div class="space-y-12 px-12">
            <h3 class="text-2xl">Schedule <strong>day 2</strong></h3>
            <slot name="timetable-day2" />
          </div>
        </div>
        <div class="button-group button-group-center">
          <button class="button button-primary">Our speakers</button>
        </div>
      </section>
      <section class="container">
        <div class="grid cols-4 gap-0 benefits">
          <div class="benefit">
            <div class="icon"></div>
            <div>
              <strong>First edition</strong>in Amsterdam in 2023
            </div>
          </div>
          <div class="benefit">
            <div class="icon"></div>
            <div>
              <strong>Sold out</strong> 300 attendees
            </div>
          </div>
          <div class="benefit">
            <div class="icon"></div>
            <div>
              <strong>100k</strong> Youtube views
            </div>
          </div>
          <div class="benefit">
            <div class="icon"></div>
            <div>
              <strong>Cool</strong> talks
            </div>
          </div>
        </div>
      </section>
      <section class="container">
        <div class="sponsors">1</div>
      </section>
    </div>
  </body>
</html>
