---
import Head from "../components/head.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

import "../styles/index.scss";
---

<!doctype html>
<html lang="en">
  <Head title="RustNL 2024" />
  <body>
    <Header />
    <div class="space-y-24">
      <section class="hero">
        <img src="/images/logo.svg" alt="Logo RustNL 2024" />
        <p>May 7 & 8, 2024<br /><strong>Delft</strong>, The Netherlands</p>
        <div class="button-group">
          <!-- href="https://www.eventbrite.nl/e/rustnl-2024-tickets-790061233417?aff=oddtdtcreator" -->
          <!-- a href="/directions" class="button button-primary">Directions</a-->
          <a href="/schedule" class="button button-primary">Schedule</a>
          <a href="/live" class="button button-secondary">🔴 Live recordings</a>
        </div>
        <a class="down-arrow" href="#explainer"></a>
      </section>
      <section class="container md:grid md:cols-12">
        <div
          class="text-lg md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
        >
          <slot name="explainer" />
        </div>
      </section>
      <section class="container">
        <div class="location">
          <div class="image"></div>
          <div class="image"></div>
          <div class="image">
            <div class="ferris"></div>
            <div class="ferris-arms"></div>
          </div>
          <div class="ferris">
            <img src="/images/ferris.png" alt="" />
          </div>
        </div>
      </section>
      <section class="container space-y-6">
        <h3 class="text-2xl text-center">Speaker highlights</h3>
        <div class="grid md:cols-2 xl:cols-4" id="speakers">
          <slot name="speakers" />
        </div>
      </section>
      <section class="container space-y-6">
        <div class="button-group">
          <a href="/speakers" class="button button-primary">All our speakers</a>
        </div>
      </section>
      <section class="container space-y-6">
        <h3 class="text-2xl text-center">Workshops by</h3>
        <div class="grid md:cols-2 xl:cols-4" id="workshops">
          <slot name="workshops" />
        </div>
        <div class="button-group">
          <a
            class="button button-primary"
            style="text-decoration: none;color:var(--color-neutral-400);"
            href="/workshops">Workshop details</a
          >
        </div>
      </section>
      <section class="container sponsors" id="sponsors">
        <slot name="sponsors" />
      </section>
      <section class="container md:grid md:cols-12">
        <div
          class="text-lg md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
        >
          <slot name="about" />
        </div>
      </section>
    </div>
    <Footer />
  </body>
</html>
