---
import Head from "../components/head.astro";
---

<!doctype html>
<html lang="en">
  <Head />
  <style lang="scss" is:global>
    @import "../styles/index.scss";
  </style>

  <body>
    <div class="space-y-24">
      <section class="hero">
        <img src="/images/logo.svg" alt="Logo RustNL 2024" />
        <p>10 May 2024 <br /> <strong>TU Delft</strong>, Nederland</p>
        <div class="button-group">
          <a href="#schedule" class="button button-primary">Schedule</a>
          <a href="/speakers" class="button button-secondary">Our speakers</a>
        </div>
      </section>
      <section class="container md:grid md:cols-12">
        <div class="text-lg md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10">
          <slot name="explainer" />
        </div>
      </section>
      <section class="container">
        <div class="location">
          <div class="image"></div>
          <div class="image"></div>
          <div class="image">
            <div class="ferris"></div>
            <div class="ferris-arms"></div>
          </div>
          <div class="ferris">
            <img src="./images/ferris.png" alt="">
          </div>
        </div>
      </section>
      <section class="container space-y-12" id="schedule">
        <div class="space-y-12 md:grid md:cols-2 md:space-y-0">
          <div class="space-y-6 md:space-y-12 sm:px-6 xl:px-12">
            <h3 class="text-2xl">Schedule <strong>day 1</strong></h3>
            <slot name="timetable-day1" />
          </div>
          <div class="space-y-6 md:space-y-12 sm:px-6 xl:px-12">
            <h3 class="text-2xl">Schedule <strong>day 2</strong></h3>
            <slot name="timetable-day2" />
          </div>
        </div>
        <div class="button-group button-group-center">
          <button class="button button-primary">Our speakers</button>
        </div>
      </section>
      <section class="container" id="last-year">
        <div class="grid cols-4 gap-0 benefits">
          <div class="benefit">
            <div class="icon"></div>
            <div>
              <strong>First edition</strong> in Amsterdam in 2023
            </div>
          </div>
          <div class="benefit">
            <div class="icon"></div>
            <div>
              <strong>Sold out</strong> 300 attendees
            </div>
          </div>
          <div class="benefit">
            <div class="icon"></div>
            <div>
              <strong>100k</strong> Youtube views
            </div>
          </div>
          <div class="benefit">
            <div class="icon"></div>
            <div>
              <strong>Cool</strong> talks
            </div>
          </div>
        </div>
      </section>
      <section class="container sponsors">
        <div class="sponsors-tiers space-y-6">
          <h3 class="text-xl">Headline sponsors</h3>
          <div class="sponsors-row">
            <div class="sponsor"></div>
          </div>
        </div>
        <div class="sponsors-tiers space-y-6">
          <h3 class="text-xl">Gold sponsors</h3>
          <div class="sponsors-row">
            <div class="sponsor"></div>
            <div class="sponsor"></div>
            <div class="sponsor"></div>
          </div>
        </div>
        <div class="sponsors-tiers space-y-6">
          <h3 class="text-xl">Silver sponsors</h3>
          <div class="sponsors-row">
            <div class="sponsor"></div>
            <div class="sponsor"></div>
            <div class="sponsor"></div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
