---
import Head from "../components/head.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import "../styles/index.scss";
const { frontmatter } = Astro.props;
const { title } = frontmatter;
---

<!doctype html>
<html lang="en">
  <Head title={`${title} - RustNL 2024`} />
  <body>
    <Header withLogo />
    <section class="hero page">
      <h1 class="text-3xl">{title}</h1>
    </section>
    <section class="container md:grid md:cols-12 py-12">
      <div
        class="markdown text-lg md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
      >
        <slot />
      </div>
    </section>
    <Footer />
  </body>
</html>
