---
import Head from "../components/head.astro";
import Footer from "../components/footer.astro";
import "../styles/index.scss";
---

<!doctype html>
<html lang="en">
  <Head title="Schedule - RustNL 2024" />

  <body>
    <section class="hero page">
      <div class="nav">
        <img src="/images/logo.svg" alt="Logo RustNL 2024" />
        <div class="button-group">
          <a
          href="/"
          class="button button-primary">Home</a
          >
        </div>
      </div>
      <h1 class="text-3xl">Schedule</h1>
    </section>
    <section class="container py-24 space-y-12" id="schedule">
      <div class="space-y-12 md:grid md:cols-2 md:space-y-0">
        <div class="space-y-6 px-3 sm:px-6 md:space-y-12 xl:px-12">
          <h3 class="text-2xl">Schedule <strong>day 1</strong></h3>
          <slot name="timetable-day1" />
        </div>
        <div class="space-y-6 px-3 sm:px-6 md:space-y-12 xl:px-12">
          <h3 class="text-2xl">Schedule <strong>day 2</strong></h3>
          <slot name="timetable-day2" />
        </div>
      </div>
      <div class="button-group button-group-center">
        <a class="button button-primary" href="/#speakers">Our Speakers</a>
        <a class="button button-primary" href="/">Back Home</a>
      </div>
    </section>

    <Footer />
  </body>
</html>
