---
import Head from "../components/head.astro";
import Footer from "../components/footer.astro";
import Menu from "../components/menu.astro";
import "../styles/index.scss";
---

<!doctype html>
<html lang="en">
  <Head title="Speakers - RustNL 2024" />
  <body>
    <Menu withLogo />
    <section class="hero page">
      <h1 class="text-3xl">Speakers</h1>
    </section>
    <section class="container py-12 space-y-6">
      <div class="grid xl:cols-12" id="speakers">
        <div class="xl:col-start-4 xl:col-end-10 space-y-12">
          <slot name="speakers" />
        </div>
      </div>
    </section>
    <div class="button-group">
      <a
        href="https://www.eventbrite.nl/e/rustnl-2024-tickets-790061233417?aff=oddtdtcreator"
        class="button button-primary">Tickets</a
      >
      <a href="/" class="button button-primary">Home</a>
    </div>
    <Footer />
  </body>
</html>
