---
import Head from "../components/head.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import "../styles/index.scss";
---

<!doctype html>
<html lang="en">
  <Head title="Unconference - RustNL 2024" />
  <body>
    <Header withLogo />
    <section class="hero page">
      <h1 class="text-3xl">RustNL unconference</h1>
    </section>
    <section class="container md:grid md:cols-12 py-12">
      <div
        class="text-lg md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
      >
        <slot name="unconf" />
      </div>
    </section>
    <section
      class="container sponsors unconf-partners"
      id="organizing-partners"
    >
      <slot name="support" />
    </section>

    <section class="container py-24" id="schedule">
      <div class="space-y-12 md:grid md:cols-2 md:space-y-0">
          <div class="space-y-6 px-3 sm:px-6 md:space-y-12 xl:px-12">
              <h3 class="text-xl">
                  Unconf schedule <strong>Day 1 / May 9</strong>
              </h3>
              <slot name="timetable-day1" />
          </div>
          <div class="space-y-6 px-3 sm:px-6 md:space-y-12 xl:px-12">
              <h3 class="text-xl">
                Unconf schedule <strong>Day 2 / May 10</strong>
              </h3>
              <slot name="timetable-day2" />
          </div>
      </div>
  </section>

    <section class="container md:grid md:cols-12 py-12">
      <div
        class="text-lg md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
      >
        <h2 class="text-2xl">Unconf location</h2>
        <p>
          The unconf is held in the centre of Delft at <a href="https://vakwerkhuis.com/">Vakwerkhuis</a>.<br /><br />
          <strong>Venue address:</strong>
          <br>Vakwerkhuis, Professor Snijdersstraat 2<br />Delft, The Netherlands<br />
        </p>
      </div>
    </section>
    <section class="container py-24 space-y-12">
      <div class="location">
        <div class="image unconf"></div>
        <div class="image unconf"></div>
        <div class="image">
          <div class="ferris"></div>
          <div class="ferris-arms"></div>
        </div>
        <div class="ferris">
          <img src="/images/ferris.png" alt="" />
        </div>
      </div>
    </section>
    <section class="container md:grid md:cols-12 py-12">
      <div
        class="text-lg md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
      >
        <slot name="participate" />
      </div>
    </section>
    <section class="container sponsors" id="sponsors">
      <slot name="sponsors" />
    </section>
    <Footer />
  </body>
</html>
