---
import Head from "../components/head.astro";
import Footer from "../components/footer.astro";
import Menu from '../components/menu.astro';
import "../styles/index.scss";
---

<!doctype html>
<html lang="en">
  <Head title="Unconference - RustNL 2024" />
  <body>
    <Menu withLogo />
    <section class="hero page">
      <h1 class="text-3xl">RustNL unconference</h1>
    </section>
    <section class="container md:grid md:cols-12 py-12">
      <div
        class="text-lg md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
      >
        <slot name="unconf" />
      </div>
    </section>
    <section class="container sponsors unconf-partners" id="organizing-partners">
      <slot name="support" />
    </section>
    <section class="container md:grid md:cols-12 py-12">
      <div
        class="text-lg md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
      >
        <slot name="participate" />
      </div>
    </section>
    <section class="container sponsors" id="sponsors">
      <slot name="sponsors" />
    </section>
    <Footer />
  </body>
</html>
